
// Normalization
*, *::after, *::before
{
    margin: 0;
    padding: 0;
    box-sizing: inherit
}


// Definition for 1rem
html {font-size: 62.5%}

a {cursor: pointer}

// Footer to bottom of the page
html, body, #app, .container
{
    height: 100%;
}

main {min-height: calc(100% - 78px);}

// Global Element Styles & Media Queries
section
{
    padding: 10rem 0;
    margin: 0 auto;
    width: 120rem;

    &.section-update
    {
        padding-top: 15rem;
    }
    &.item-update
    {
        padding: 0;
        margin: 2rem;
    }

    @media screen and (max-width: 1360px)
    {
        width: 90rem;
    }
}

// Specific Media Queries
.section-commands
{
    @media screen and (min-width: 992px) and (max-width: 1360px)
    {
        width: 76.5rem !important;   
    }

    @media screen and (min-width: 1360px) and (max-width: 1410px)
    {
        width: 113rem !important;   
    }
}