
// Normalization
*, *::after, *::before
{
    margin: 0;
    padding: 0;
    box-sizing: inherit
}


// Definition for 1rem
html 
{
    font-size: 62.5%;
    @media only screen and (max-width: 56.25em)
    {
        font-size: 55%;
    }

    @media only screen and (max-width: 37.5em)
    {
        font-size: 50%;
    }
}

a {cursor: pointer}

// Footer to bottom of the page
html, body, #app, .container
{
    height: 100%;
}

main { 
    position: relative;
    min-height: calc(100% - 78px);}

// Global Element Styles & Media Queries
section
{
    padding: 10rem 0;
    margin: 0 auto;
    width: 110rem;

    @media only screen and (max-width: 85em)
    {
        width: 80rem;
    }

    @media only screen and (max-width: 56.25em)
    {
        width: 95%;
    }
}

.section-update
{
    padding-top: 15rem;
}

.item-update
{
    padding: 0;
    margin: 2rem;
}

// Specific Media Queries
.section-commands
{
    @media only screen and (min-width: 62em) and (max-width: 85em)
    {
        width: 76.5rem !important;   
    }
}

// Other

.v-spinner
{
    @include absoluteCenter;
}