.u-center-text {text-align: center !important;}

.u-margin-bottom-sm {margin-bottom: 1.5rem !important;}
.u-margin-bottom-md {margin-bottom: 4rem !important;}
.u-margin-bottom-lg {margin-bottom: 8rem !important;}
.u-margin-bottom-xl {margin-bottom: 10rem !important;}

.u-margin-top-sm {margin-top: 1.5rem !important;}
.u-margin-top-md {margin-top: 4rem !important;}
.u-margin-top-lg {margin-top: 8rem !important;}
.u-margin-top-xl {margin-top: 10rem !important;}


.u-margin-left-sm {margin-left: .3rem !important;}
.u-margin-right-sm {margin-right: .3rem !important;}