// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

// General Styles

:focus {outline: none;}

.hr-sm
{
    width: 50px;
    height: 3px;
    background: #FFD700;
    margin: auto;
}

.hr-lg
{
    height: 1px;
    background: #545464;
    margin: 25px auto;
}

html,body, #app, .wrapper {height:100%;}

.adv-btn
{
    padding: 10px 25px;
    background-color: transparent;
    border: 1px solid #FFD700;
    color: #FFD700;
    @include border-radius(4px);
    font: 500 0.8rem 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    @include transition((color 100ms, background-color 100ms));
    &:hover
    {
        text-decoration: none;
        background-color: rgb(201, 179, 80);
        border: 1px solid rgb(201, 179, 80);
        color: white;
    }
}

.adv-link
{
    color: #FFD700;
    text-transform: uppercase;
    &:hover {color: #FFD700}
}

.adv-btn.small-btn {padding: 5px 10px;}
.adv-edit:hover
{
    background: #3CB1B6;
    border-color: #3CB1B6
}
.adv-delete:hover
{
    background: #ec4853;
    border-color: #ec4853;
}