.btn
{
    &, &:visited, &:link
    {
        text-transform: uppercase;
        text-decoration: none;
        padding: .9rem 1.8rem;
        display: inline-block;
        border-radius: 3px;
        transition: all 200ms;
        font-size: 1.2rem;

        // Change for the <button> element
        cursor: pointer;
    }

    &:active, &:focus
    {
        outline: none;
    }

    &--primary
    {
        background-color: transparent;
        border: 1px solid $color-primary;
        color: $color-primary;

        &:hover,  &:active, &:focus
        {
            color: $color-white;
            background-color: $color-primary-dark;
            border: 1px solid $color-primary-dark;
        }
    }

    &--primary-2
    {
        background-color: rgba($color-primary, .7);
        border: 1px solid rgba($color-primary, .7);
        color: $color-white;

        &:hover,  &:active, &:focus
        {
            color: $color-white;
            background-color: rgba($color-primary, .9);
            border: 1px solid rgba($color-primary, .9);
        }
    }

    &--discord
    {
        color: $color-white;
        background-color: rgba($color-discord, .8);
        border-color: rgba($color-discord, .8);

        &:hover,  &:active, &:focus
        {
            background-color: $color-discord;
            border-color: $color-discord;
        }
    }
}