.form
{
    position: relative;
    z-index: 5000;
    &__group
    {
        width: 70%;
        
        @media only screen and (max-width: 30em)
        {
            width: 90% !important;
        }
        margin: auto;
    }

    &__label
    {
        display: block;
        font-size: 2rem;
    }

    &__select, &__input, &__textarea
    {
        width: 100%;
        background-color: $color-secondary-light;
        border: 1px solid $color-border-dark;
        border-radius: 3px;
        padding: 1rem;
        color: $color-gray-light;
        resize: vertical;
        font-family: 'Lato', sans-serif;
        font-size: 1.6rem;

        &:active, &:focus
        {
            border: 1px solid rgba($color-primary, .6);
            box-shadow: 0 0 5px rgba($color-primary, .6);
            outline: none;
        }
    }
    &__feedback
    {
        visibility: hidden;
        margin-top: .5rem;
        font-size: 1.4rem;
        color: $color-red;
    }

    &__submit 
    {
        display: block;
        margin: auto;
    }

    // Search Form
    &__input--search
    {
        display: inline-block;
        width: calc(90% - 2px);
        
        @media only screen and (max-width: 56.25em)
        {
            width: calc(100% - 5.2rem);
        }
        border: none;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        vertical-align: top;
    }

    &__search--search
    {
        &, &:visited, &:link
        {
            display: inline-block;
            padding: .8rem;
            width: calc(10% - 2px);
            @media only screen and (max-width: 56.25em)
            {
                width: 5rem;
            }
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
            font-size: 1.5rem;
        }
    }
}