.form
{
    &__group 
    {
        width: 50%;
        margin: auto;
    }

    &__label
    {
        display: block;
    }

    &__select, &__input
    {
        width: 100%;
        background-color: $color-secondary-light;
        border: 1px solid $color-border-dark;
        border-radius: 3px;
        padding: 1rem;
        color: $color-gray-light;
    }

    &__submit 
    {
        display: block;
        margin: auto;
    }
}