.form
{
    &__group 
    {
        width: 50%;
        margin: auto;
    }

    &__label
    {
        display: block;
    }

    &__select, &__input
    {
        width: 100%;
        background-color: $color-secondary-light;
        border: 1px solid $color-border-dark;
        border-radius: 3px;
        padding: 1rem;
        color: $color-gray-light;
    }

    &__submit 
    {
        display: block;
        margin: auto;
    }

    &__input--search
    {
        display: inline-block;
        width: calc(90% - 2px);
        border: none;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        vertical-align: top;
    }

    &__search--search
    {
        &, &:visited, &:link
        {
            display: inline-block;
            padding: .8rem;
            width: calc(10% - 2px);
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
            font-size: 1.5rem;
        }
    }
}