@import url(https://fonts.googleapis.com/css?family=Nunito);*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

a {
  cursor: pointer;
}

section {
  margin: 10rem auto;
  width: 90rem;
}

.section-user {
  position: relative;
  left: 5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #fff;
  background-color: #212127;
  box-sizing: border-box;
}

.heading-secondary {
  font-size: 4rem;
  font-weight: 300;
  display: inline-block;
  letter-spacing: 1px;
  position: relative;
}

.heading-secondary::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 3px;
  width: 5rem;
  border-bottom: 3px solid #FFD700;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-sm {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-md {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-lg {
  margin-bottom: 8rem !important;
}

.u-margin-bottom-xl {
  margin-bottom: 10rem !important;
}

.u-margin-top-sm {
  margin-top: 1.5rem !important;
}

.u-margin-top-md {
  margin-top: 4rem !important;
}

.u-margin-top-lg {
  margin-top: 8rem !important;
}

.u-margin-top-xl {
  margin-top: 10rem !important;
}

.u-margin-left-sm {
  margin-left: 0.3rem !important;
}

.u-margin-right-sm {
  margin-right: 0.3rem !important;
}

.btn,
.btn:visited,
.btn:link {
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.8rem 1.6rem;
  display: inline-block;
  border-radius: 3px;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  font-size: 1.4rem;
  border: 1px solid transparent;
  color: #fff;
  cursor: pointer;
}

.btn:active,
.btn:focus {
  outline: none;
}

.btn--primary {
  background: transparent;
  border-color: #FFD700;
  color: #FFD700;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.btn--primary:hover {
  color: #fff;
  background: #c9b350;
  border-color: #c9b350;
}

.btn--discord {
  background: rgba(114, 137, 218, 0.9);
  border-color: rgba(114, 137, 218, 0.9);
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.btn--discord:hover {
  background: #7289da;
  border-color: #7289da;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}

.row:not(:last-child) {
  margin-bottom: 8rem;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row [class^=col-] {
  float: left;
}

.row [class^=col-]:not(:last-child) {
  margin-right: 6rem;
}

.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.row .col-1-of-3 {
  width: calc((100% - 2* 6rem) / 3);
}

.row .col-2-of-3 {
  width: calc(2* ((100% - 2* 6rem) / 3) + 6rem);
}

.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}

.row .col-2-of-4 {
  width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem);
}

.row .col-3-of-4 {
  width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem);
}

