@import url(https://fonts.googleapis.com/css?family=Nunito);:focus {
  outline: none;
}

.hr-sm {
  width: 50px;
  height: 3px;
  background: #FFD700;
  margin: auto;
}

.hr-lg {
  height: 1px;
  width: 100%;
  background: #545464;
  margin: 25px auto;
}

html,
body,
#app,
.container-fluid {
  overflow-x: hidden;
  height: 100%;
}

.adv-btn {
  padding: 10px 25px;
  background-color: transparent;
  border: 1px solid #FFD700;
  color: #FFD700;
  border-radius: 4px;
  font: 500 0.8rem "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  -webkit-transition: color 100ms, background-color 100ms;
  transition: color 100ms, background-color 100ms;
}

.adv-btn:hover {
  text-decoration: none;
  background-color: #c9b350;
  border: 1px solid #c9b350;
  color: white;
}

.adv-link {
  color: #FFD700;
  text-transform: uppercase;
}

.adv-link:hover {
  color: #FFD700;
}

.adv-toggle {
  color: #FFD700 !important;
  font-size: 1.3rem;
  margin-top: 5px;
  -webkit-transition: all 100ms;
  transition: all 100ms;
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
}

.adv-toggle:hover {
  color: #FFD700;
}

.adv-toggle::after {
  content: none;
}

.adv-toggle:hover {
  -webkit-transform: scale(1.6);
  transform: scale(1.6);
}

.adv-btn.small-btn {
  padding: 5px 10px;
}

.adv-edit:hover {
  background: #3CB1B6;
  border-color: #3CB1B6;
}

.adv-delete:hover {
  background: #ec4853;
  border-color: #ec4853;
}

.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
}

.spinner .spinner-border {
  color: #FFD700;
}

.modal-content header,
.modal-content footer,
.modal-content button {
  border: none;
}

.modal-content header {
  background-color: #c2a500;
}

.modal-content button.btn-primary {
  background: #c2a500;
}

.modal-content button.btn-primary:hover {
  background: #b89c00;
}

.slide-fade-enter-active {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.slide-fade-leave-active {
  -webkit-transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter,
.slide-fade-leave-to {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  opacity: 0;
}

form.adv-form {
  text-align: center;
  margin: 50px auto;
  color: white;
  font-size: 1.2rem;
}

form.adv-form .form-group {
  text-align: left;
}

form.adv-form .form-control {
  color: lightgray;
}

form.adv-form input,
form.adv-form textarea,
form.adv-form select {
  background-color: #33333b;
  border: 1px solid #3d3d49;
  color: white;
  box-shadow: 0 0 5px #000;
}

form.adv-form input:focus,
form.adv-form textarea:focus,
form.adv-form select:focus {
  background-color: #363641;
  box-shadow: 0 0 5px #363641;
  border: 1px solid #212127;
}

form.adv-form button {
  margin: auto;
}

