// Colors
$color-primary: #FFD700;
$color-primary-dark: #c9b350;

$color-secondary-light: #2E2E36;
$color-secondary: #212127;
$color-secondary-dark: #10121A;

$color-border-light: #494957;
$color-border-dark: #3d3d49;

$color-logo-bg: #252936;
$color-discord: #7289da;

$color-white: #fff;
$color-black: #000;
$color-blue: #3CB1B6;
$color-red: #ec4853;

$color-exp: #C65D3D;
$color-gems: #6755b9;
$color-guild: #cb4154;
$color-activity: #00bfff;

$color-gray-light: #d3d3d3;
$color-gray: #999999;

$color-highlight: #c0a429;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
$gutter-horizontal-md: 4rem;
$gutter-horizontal-sm: 2rem;

// Font
$font-size-default: 1.6rem;