// Colors
$color-primary: #FFD700;
$color-primary-dark: #c9b350;

$color-secondary-light: #2E2E36;
$color-secondary: #212127;
$color-secondary-dark: #10121A;

$color-border-light: rgb(73, 73, 87);
$color-border-dark: #3d3d49;

$color-logo-bg: #252936;
$color-discord: #7289da;

$color-white: #fff;
$color-black: #000;
$color-blue: #3CB1B6;
$color-red: #ec4853;

$color-gray-light: #d3d3d3;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// Font
$font-size-default: 1.6rem;